body{
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img{
    height: 200px;
    width: 200px;
}
.ul{
    background-color: black;

    width: 150px;
}
